@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
     font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #0f0f0f, #1e1e1f, #2c2c2e);
  color: white;
  min-height: 100vh;
}
